TaS2
&INPUTPH
    prefix   = '{{ prefix }}',
    outdir   = '/fastscratch/tsievers/QE_TMP_DIR/'

    fildyn   = '{{ fildyn }}'
    fildvscf = '{{ fildvscf }}'

    recover  = .true.
    
    ldisp = .true.
    nq1 = 12
    nq2 = 12
    nq3 = 1

    tr2_ph = 1e-21
/
